<ion-view title="死亡时钟">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
		<section class="docs-section active" id="block-buttons">
				<div id='leaving_time_show'>
					
				</div>
			
		    <div class="content padding" id='canvas'>
		      <!-- <a class="button button-block button-stable" ng-click='openModal()'>创建人物</a>
		      <a class="button button-block button-stable">音量音效</a> -->
		      <!-- <button class="button button-block button-positive">button-positive</button>
		      <button class="button button-block button-calm">button-calm</button>
		      <button class="button button-block button-balanced">button-balanced</button>
		      <button class="button button-block button-energized">button-energized</button>
		      <button class="button button-block button-assertive">button-assertive</button>
		      <button class="button button-block button-royal">button-royal</button>
		      <button class="button button-block button-dark">button-dark</button> -->
		    </div>
				
		
				
				<div class="card">
				  <div class="item item-text-wrap">
				    <center>新的一天做点什么吧？dddf</center>
				  </div>
				</div>
				
				
				<button class="button button-block button-royal">分享</button>
				

		</section>
		
	 
  </ion-content>
</ion-view>
