<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">今日遗言</h1>
  </ion-header-bar>
  <ion-content>
		<!-- <button ng-click="setNavTitle('Title Changed')">
      Set title to change!
    </button> -->
		<div class="list">
	
		  <label class="item item-input">
		    <textarea placeholder="Comments" rows="8" ></textarea>
		  </label>
			
		  <label class="item-input">

		     <button class="button button-small">
		       Submit
		     </button>
     </label>
		</div>
  </ion-content>
</ion-modal-view>
